.booking__btn{
   border: none;
   border-radius: 30px; 
   background-color:#6A62B7;
   width: 700px;
   color: white; 
   margin-bottom:100px;
   padding: 10px 40px;
}
.modal{
    border: none;
    border-radius:30px;
}
.modal__input{
    margin-top: 20px;
}