.recommended{
    display: grid;
    grid-template-columns: auto auto auto;
   
}
.discover_sliders{
    width:100%;
    padding:30px 10px;
}
.sliders_img{
  margin:20px 20px;
    
}
.swiper_img img:nth-child(1){
  width: 350px;
  height: 300px;
  border-radius: 25px;
  position:relative;
  z-index:1;
}
.swiper_name{
 position: absolute;
 z-index: 4;
 margin-top: 190px;
 width:320px;
 background: transparent;
 opacity: 0.6;
 
}
.swiper_name h1:nth-child(1){
   color:white;
   position: relative;
}
.discover_sliders{
    display: flex;
    justify-content:center;
    align-items: center;
     
}
